#header {
    background-color: grey;
}

#container {
    text-align: center;
}

.textBox {
    padding-bottom: 100px;
}

.inputBox{
    height: auto;
    width: auto;
    overflow: visible;
    display: inline;
}

.edt {
    padding-left: 10px;
}

.newTxt {
    margin-left: 10px;
}